<div class="side-header container">
	<div class="site-logo">
		<a class="logo" href="/#/index" title="{{'TITLE' | translate }}" >
			<img src="/img/logo.jpg" />
		</a>
	</div>
	<div class="header-info">
		<div class="search-section">
			<form id="J_searchForm" class="search-form clearfix" ng-submit="search()" method="get">
                <input class="search-text" type="search" name="keyword" autocomplete="off" ng-model="search_key" placeholder=  "{{'SEARCH_NEEDED' | translate }}">
                <input type="submit" class="search-btn" value="{{'SEARCH' | translate }}" />			
			</form>
		</div>
		<div class="cart-section">
			<a id="J_miniCart" class="mini-cart" href="/#/cart?userid={{userid}}" onclick=""><img src="/img/cart.ico" />   {{ 'CART' | translate }}<span class="j_cartnum">({{count}})</span></a>
			<div id="J_miniCartList" class="mini-cart-list" style="display: none;">
				<p class="loading">数据加载中，请稍后...</p>
			</div>
		</div>		
	</div>	
	<div class="header-nav clearfix">
		<div id="J_categoryContainer" class="nav-category nav-category-toggled">
			<a class="btn-category-list" href="">{{ 'GOODS_CLASSFY' | translate }}<i class="category_arrow"></i></a>
			<div class="nav-category-section">
				<ul class="nav-category-list">
					<li class="nav-category-item nav-category-item-first">
						<div class="nav-category-content" >
							<a class="title" href="#">{{ 'BUY_GOODS' | translate }}A</a>
							<div class="links">
								<a href="#" >{{ 'GOODS' | translate }}A</a>
								<a href="#" >{{ 'GOODS' | translate }}B</a>
								<a href="#" >{{ 'GOODS' | translate }}C</a>
								<a href="#" >{{ 'GOODS' | translate }}D</a>
							</div>
						</div>
					</li>
					<li class="nav-category-item">
						<div class="nav-category-content" >
							<a class="title" href="#">{{ 'BUY_GOODS' | translate }}B</a>
							<div class="links">
								<a href="#" >{{ 'GOODS' | translate }}A</a>
								<a href="#" >{{ 'GOODS' | translate }}B</a>
								<a href="#" >{{ 'GOODS' | translate }}C</a>
								<a href="#" >{{ 'GOODS' | translate }}D</a>
							</div>
						</div>
					</li>
					<li class="nav-category-item">
						<div class="nav-category-content" >
							<a class="title" href="#">{{ 'BUY_GOODS' | translate }}C</a>
							<div class="links">
								<a href="#" >{{ 'GOODS' | translate }}A</a>
								<a href="#" >{{ 'GOODS' | translate }}B</a>
								<a href="#" >{{ 'GOODS' | translate }}C</a>
								<a href="#" >{{ 'GOODS' | translate }}D</a>
							</div>
						</div>
					</li>
					<li class="nav-category-item">
						<div class="nav-category-content" >
							<a class="title" href="#">{{ 'BUY_GOODS' | translate }}D</a>
							<div class="links">
								<a href="#" >{{ 'GOODS' | translate }}A</a>
								<a href="#" >{{ 'GOODS' | translate }}B</a>
								<a href="#" >{{ 'GOODS' | translate }}C</a>
								<a href="#" >{{ 'GOODS' | translate }}D</a>
							</div>
						</div>
					</li>
					<li class="nav-category-item">
						<div class="nav-category-content" >
							<a class="title" href="#">{{ 'BUY_GOODS' | translate }}E</a>
							<div class="links">
								<a href="#" >{{ 'GOODS' | translate }}A</a>
								<a href="#" >{{ 'GOODS' | translate }}B</a>
								<a href="#" >{{ 'GOODS' | translate }}C</a>
								<a href="#" >{{ 'GOODS' | translate }}D</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="nav-main">
			<ul class="nav-main-list J_menuNavMain clearfix">
				<li class="nav-main-item">
                    <a href="#"><span class="text">{{ 'HOME' | translate }}</span></a>
                </li>
				<li class="nav-main-item">
                    <a href="#">
						<span class="text">{{ 'CHUIZI_S' | translate }}</span>
						<span class="arrow"></span>
					</a>
					<div class="nav-main-children">
                        <ul class="children-list clearfix">                        
                            <li class="first">
                                <a class="item-detail" href="#/pro_a" >   
									<div class="pro-A">
										<h3>{{ 'BIGCHUI1' | translate }}</h3>
										<p>{{ 'BIGCHUI1_TIP' | translate }}</p>
										<p>1280*720{{ 'RESOLUTION' | translate }}</p>
										<p>899{{ 'YQ' | translate }}</p>
									</div>
                                    <span class="thumb">									
										<img src="/img/product/pro_1.jpg" width="160" height="160">										                                     
                                    </span>
                                </a>
                            </li>
                        
                            <li>
                                <a class="item-detail" href="#/pro_b" >  
									<div class="pro-A">
										<h3>{{ 'BIGCHUI2' | translate }}</h3>
										<p>{{ 'BIGCHUI2_TIP' | translate }}</p>
										<p>1920*1080{{ 'RESOLUTION' | translate }}</p>
										<p>1399{{ 'YQ' | translate }}</p>
									</div>
                                    <span class="thumb">
                                        <img src="/img/product/pro_1.jpg" width="160" height="160">
                                    </span>
                                </a>
                            </li>
                        
                        </ul>
                    </div>
                </li>
				<li class="nav-main-item">
                    <a href="#/goods/mitv"><span class="text">{{ 'MI_TV' | translate }}</span></a>
                </li>
				<li class="nav-main-item">
                    <a href="#"><span class="text">{{ 'GOODS' | translate }}C</span></a>
                </li>
			</ul>
		</div>
	</div>	
</div>
<div class="container clearfix jz-about">
	<div class="row">
		<div class="jz-about-sidebar">
			<div class="hd">
				<h3 class="title">{{ 'ABOUT_YG' | translate }}</h3>
			</div>
			<div class="bd">
				<ul class="about-nav-list">
					<li><a href="#">{{ 'YG_INTRO' | translate }}</a></li>
					<li><a href="#">{{ 'PART_MANAGEMENT' | translate }}</a></li>
					<li><a href="#">{{ 'YG_CULTRUE' | translate }}</a></li>
					<li><a href="#">{{ 'DEVELOPE' | translate }}</a></li>
					<li><a href="#" target="_blank">{{ 'YG_NEWS' | translate }}</a></li>
					<li><a href="#">{{ 'JOIN_US' | translate }}</a></li>
					<li class="current"><a href="#/about">{{ 'CONTACT_US' | translate }}</a></li>
				</ul>
			</div>
		</div>
		<div class="col16 offset4">
			<div class="about-box">
				<div class="section">
					<p class="map">
						<img src="/img/map.jpg">
					</p>
					<ul class="list">
						<li>地址: 浙江省杭州市瓜沥工业开发区友谊路27-1号</li>
						<li>邮编: 311421</li>
						<li>传真: 06060666666-6666</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
