<div class="side-header site-mini-header container">
	<div class="site-logo">
		<a class="logo" href="/#/index" title="{{'TITLE' | translate }}" >
			<img src="/img/logo.jpg" />
		</a>
	</div>	
</div>
<div class="container">
	<div class="shop-cart-box" >
		<div class="shop-cart-box-hd">
            <h2 class="title">{{'MY_CART' | translate }}</h2>
				<p class="tip">
					{{'CART_TIPS' | translate }}
				</p>
		</div>
	</div>
	<div class="shop-cart-box-bd" >
		<div class="shop-cart-empty" ng-show="iscartempty">
			<h2>{{'CART_EMPTY' | translate }}</h2>
			<a href="" class="btn btn-primary">{{'TOBUY' | translate }} <i class="icon-common icon-common-nextRound"></i>
			</a>
		</div>
		<dl class="shop-cart-goods"  ng-show="!iscartempty">
			<dt class="clearfix">
                <span class="col col-1">{{'GOODS' | translate }}</span>
                <span class="col col-2">{{'UNIT_PRICE' | translate }}</span>
                <span class="col col-3">{{'COUNT' | translate }}</span>
                <span class="col col-4">{{'SUBTOTAL' | translate }}</span>
                <span class="col col-5">{{'OPERATE' | translate }}</span>
            </dt>
			<dd class="item  clearfix J_proItem" ng-repeat="cart in carts">
				<div class="item-row">
					<div class="col col-1">
						<div class="g-pic">
							<a href="" target="_blank"><img alt="" src={{cart.imgurl}} width="120" height="120"></a>							 
						</div>
						<div class="g-info">
							<div class="g-name">														
								<a href="" target="_blank">
									{{cart.desc}} {{cart.color}}                                    
								</a>
							</div>
							<p class="g-type">
								<span>{{'APPLICATION' | translate }}</span>
								<span>{{cart.tag}}</span>
							</p>
							<p class="g-other-info">
								
							</p>
						</div>
					</div>
					<div class="col col-2">
                        {{cart.price}}{{'YUAN' | translate }}
                    </div>
					<div class="col col-3"> 
                        <div class="change-goods-num clearfix J_changeGoodsNum">
							<input type="number" class="form-control" ng-model="cart.count">
						</div>                                                        
                    </div>
					<div class="col col-4">
                        <em>{{cart.price*cart.count}}{{'YUAN' | translate }}</em>                           
                    </div>
					<div class="col col-5">
						<a id="2134900039_0_buy"  href="" title="{{'DELETE' | translate }}" class="del J_delGoods"><img class="iconfont-del" ng-click="cart_del(cart.id)" src="../img/closed.ico" /></a>          
					</div>
				</div>
			</dd>
		</dl>
	</div>
	<div class="shop-cart-box-ft clearfix" ng-show="!iscartempty">
		<div class="xm-add-buy">
                
        </div>
		<div class="shop-cart-total">
            <p class="total-price">{{'TOTAL' | translate }}<span><strong>{{pricetotal}}</strong>{{'YUAN' | translate }}</span></p>
        </div>
		<div class="shop-cart-action clearfix">
            <input type="button" class="btn btn-primary btn-next" id="toCheckBtn" ng-click="accounts()" value="{{'CHECK' | translate }}"></a>
            <a href="" class="btn btn-lineDakeLight btn-back">{{'CONTINUE_BUY' | translate }}</a>
            <div class="tips">
                               
            </div>
        </div>
	</div>
</div>
