<div class="container">
	<div class="l_header">
		<h1 id="l_logo">
			<a href="http://localhost:1337/" target="_top"><img src="/img/logo.jpg"></a>
		</h1>
	</div>
	<div class="l_body clearfix">
		<form class="box login" ng-submit="login()">
			<fieldset class="boxBody">
			  <label>{{ 'USERNAME' | translate }}</label>
			  <input type="text" tabindex="1" ng-model="username" placeholder="PremiumPixel" required>
			  <label><a href="#" class="rLink" tabindex="5">{{ 'FORGOT_PASSWORD' | translate }}</a>{{ 'PASSWORD' | translate }}</label>
			  <input type="password" tabindex="2" ng-model="password" required>
			</fieldset>
			<footer>
			  <label><input type="checkbox" ng-model="remember" tabindex="3">{{ 'REMEMBER' | translate }}</label>
			  <input type="submit" class="btnLogin" translate="LOGIN" tabindex="4">
			</footer>
		</form>
		<div class="abc">
			<img src="/img/l_logo.jpg">
		</div>
	</div>
</div>