<div class="side-header container">
	<div class="site-logo">
		<a class="logo" href="/#/index" title="{{'TITLE' | translate }}" >
			<img src="/img/logo.jpg" />
		</a>
	</div>
	<div class="header-info">
		<div class="search-section">
			<form id="J_searchForm" class="search-form clearfix" ng-submit="search()" method="get">
                <input class="search-text" type="search" name="keyword" autocomplete="off" ng-model="search_key" placeholder="{{'SEARCH_NEEDED' | translate }}">
                <input type="submit" class="search-btn" value="{{'SEARCH' | translate }}" />			
			</form>
		</div>
		<div class="cart-section">
			<a id="J_miniCart" class="mini-cart" href="/#/cart" onclick=""><img src="/img/cart.ico" />   {{ 'CART' | translate }}<span class="j_cartnum">({{count}})</span></a>
		</div>		
	</div>	
	<div class="header-nav clearfix">
		<div id="J_categoryContainer" class="nav-category nav-category-toggled">
			<a class="btn-category-list" href="">{{ 'GOODS_CLASSFY' | translate }}<i class="category_arrow"></i></a>
			<div class="nav-category-section">
				<ul class="nav-category-list">
					<li class="nav-category-item nav-category-item-first">
						<div class="nav-category-content" >
							<a class="title" href="#">{{ 'BUY_GOODS' | translate }}A</a>
							<div class="links">
								<a href="#" >{{ 'GOODS' | translate }}A</a>
								<a href="#" >{{ 'GOODS' | translate }}B</a>
								<a href="#" >{{ 'GOODS' | translate }}C</a>
								<a href="#" >{{ 'GOODS' | translate }}D</a>
							</div>
						</div>
					</li>
					<li class="nav-category-item">
						<div class="nav-category-content" >
							<a class="title" href="#">{{ 'BUY_GOODS' | translate }}B</a>
							<div class="links">
								<a href="#" >{{ 'GOODS' | translate }}A</a>
								<a href="#" >{{ 'GOODS' | translate }}B</a>
								<a href="#" >{{ 'GOODS' | translate }}C</a>
								<a href="#" >{{ 'GOODS' | translate }}D</a>
							</div>
						</div>
					</li>
					<li class="nav-category-item">
						<div class="nav-category-content" >
							<a class="title" href="#">{{ 'BUY_GOODS' | translate }}C</a>
							<div class="links">
								<a href="#" >{{ 'GOODS' | translate }}A</a>
								<a href="#" >{{ 'GOODS' | translate }}B</a>
								<a href="#" >{{ 'GOODS' | translate }}C</a>
								<a href="#" >{{ 'GOODS' | translate }}D</a>
							</div>
						</div>
					</li>
					<li class="nav-category-item">
						<div class="nav-category-content" >
							<a class="title" href="#">{{ 'BUY_GOODS' | translate }}D</a>
							<div class="links">
								<a href="#" >{{ 'GOODS' | translate }}A</a>
								<a href="#" >{{ 'GOODS' | translate }}B</a>
								<a href="#" >{{ 'GOODS' | translate }}C</a>
								<a href="#" >{{ 'GOODS' | translate }}D</a>
							</div>
						</div>
					</li>
					<li class="nav-category-item">
						<div class="nav-category-content" >
							<a class="title" href="#">{{ 'BUY_GOODS' | translate }}E</a>
							<div class="links">
								<a href="#" >{{ 'GOODS' | translate }}A</a>
								<a href="#" >{{ 'GOODS' | translate }}B</a>
								<a href="#" >{{ 'GOODS' | translate }}C</a>
								<a href="#" >{{ 'GOODS' | translate }}D</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="nav-main">
			<ul class="nav-main-list J_menuNavMain clearfix">
				<li class="nav-main-item">
                    <a href="#"><span class="text">{{ 'HOME' | translate }}</span></a>
                </li>
				<li class="nav-main-item">
                    <a href="#">
						<span class="text">{{ 'CHUIZI_S' | translate }}</span>
						<span class="arrow"></span>
					</a>
					<div class="nav-main-children">
                        <ul class="children-list clearfix">                        
                            <li class="first">
                                <a class="item-detail" href="#/pro_a" >   
									<div class="pro-A">
										<h3>{{ 'BIGCHUI1' | translate }}</h3>
										<p>{{ 'BIGCHUI1_TIP' | translate }}</p>
										<p>1280*720{{ 'RESOLUTION' | translate }}</p>
										<p>899{{ 'YQ' | translate }}</p>
									</div>
                                    <span class="thumb">									
										<img src="/img/product/pro_1.jpg" width="160" height="160">										                                     
                                    </span>
                                </a>
                            </li>
                        
                            <li>
                                <a class="item-detail" href="#/pro_b" >  
									<div class="pro-A">
										<h3>{{ 'BIGCHUI2' | translate }}</h3>
										<p>{{ 'BIGCHUI2_TIP' | translate }}</p>
										<p>1920*1080{{ 'RESOLUTION' | translate }}</p>
										<p>1399{{ 'YQ' | translate }}</p>
									</div>
                                    <span class="thumb">
                                        <img src="/img/product/pro_1.jpg" width="160" height="160">
                                    </span>
                                </a>
                            </li>
                        
                        </ul>
                    </div>
                </li>
				<li class="nav-main-item">
                    <a href="#/goods/mitv"><span class="text">{{ 'MI_TV' | translate }}</span></a>
                </li>
				<li class="nav-main-item">
                    <a href="#"><span class="text">{{ 'GOODS' | translate }}C</span></a>
                </li>
			</ul>
		</div>
	</div>	
</div>
<div class="container clearfix">
	<div class="row">
		<div class="span4">
			<div class="uc-nav-box">
				<div class="box-hd">
					<h3 class="title">{{ 'PERSONAL_CENTER' | translate }}</h3>
				</div>
				<div class="box-bd">
					<ul class="uc-nav-list">
						<li class="current"><a href="#/userinfo?id={{userid}}">{{ 'MY_CENTER' | translate }}</a></li>
						<li><a href="#/order?id={{userid}}">{{ 'MY_ORDER' | translate }}</a></li>
						<li><a href="#">{{ 'MY_PAY' | translate }}</a></li>
						<li><a href="#">{{ 'MY_ACCOUNT' | translate }}</a></li>
						<li><a href="#">{{ 'COMMENTS' | translate }}</a></li>
						<li><a href="#/store">{{ 'MY_FAVORITE' | translate }}</a></li>
						<li><a href="#">{{ 'MY_COUPONS' | translate }}</a></li>
					</ul>
				</div>
			</div>
			<div class="uc-nav-box">
				<div class="box-hd">
					<h3 class="title">{{ 'ACCOUNT_MANAGEMENT' | translate }}</h3>
				</div>
				<div class="box-bd">
					<ul class="uc-nav-list">
						<li><a href="#/user/address?id={{userid}}">{{ 'SHIPPING_ADDRESS' | translate }}</a></li>
						<li><a href="#/changeP?id={{userid}}">{{ 'MODIFY_PASSWORD' | translate }}</a></li>
						<li><a href="#">{{ 'VIP' | translate }}</a></li>
					</ul>
				</div>
			</div>
		</div>		
		<div class="span16">
			<div class="xm-box uc-box">
				<div class="xm-line-box uc-info-box">
                    <div class="box-bd clearfix">
						<img class="uc-avatar" src="" alt="">
						<div class="uc-info">
							<h3 class="uc-welcome"><span class="user-name">{{ userid }}</span>{{ 'HELLO' | translate }}</h3>
							<div class="uc-info-detail">
								<div class="info-notice">

								</div>
								<div class="info-goods">

								</div>
							</div>
						</div>
					</div>
					<div class="xm-line-box uc-home-box">
						<div class="box-hd">
							<h3 class="title">{{ 'WAIT_ORDERS' | translate }}</h3>
						</div>
						<div class="box-bd">
							<div class="uc-tip-section">
								<p class="empty">{{ 'USERINFO_EMPTY1' | translate }}<a href="#">{{ 'USERINFO_TOBUY' | translate }}</a></p>
							</div>
						</div>
					</div>
					<div class="xm-line-box uc-home-box">
						<div class="box-hd">
							<h3 class="title">{{ 'USERINFO_UNCATCH' | translate }}</h3>
						</div>
						<div class="box-bd">
							<div class="uc-tip-section">
								<p class="empty">{{ 'USERINFO_EMPTY2' | translate }}<a href="#">{{ 'USERINFO_TOBUY' | translate }}</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
